[Unit]
Description=mjpg_streamer for opi
After=network.target

[Service]
Type=simple
User=root
RemainAfterExit=yes
ExecStart=/usr/local/mjpg-streamer-setup/bin/startAllCams

[Install]
WantedBy=multi-user.target
